.container {
  display: flex;
  padding: 20px;
  flex-direction: row;
}

.main-content {
  flex: 3; /* 3/4th of the width for main content */
  padding-right: 20px;
  
}

.peerContainer {
  padding-top: 20px;
}

.stageSpace {
  padding-bottom: 20px;
}
.stageSpace2 {
  padding-bottom: 20px;
  padding-top: 20px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack the content vertically */
  }


  .main-content {
    flex: none;
    padding-top: 20px;
    padding-right: 0; /* Remove right padding */
  }
}